  body{
    background-image: url(stars.png);
  }
h1{
  color: white;
}
hr{
  background-color: white;
  max-height: 3px;
}
a{
  color: white;
}
p{
  color: white;
}
h2{
  color: white;
}
marquee{
  color:white;
}
info{
    padding: 2em;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 180);
}
list{
  background-image: url(cobbleback.png);
}
