  body{
    background-image: url(pxfuel.jpg);
  }
  p{
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 180);
  }
  h1{
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 180);
  }
a{
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 180);
}
